@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello to Blazor Server App world!</h1>

The current date time: @DateTime.Now.ToString("MMM d, yyyy h:mm tt");

<SurveyPrompt Title="How is Blazor working for you?" />
